blockquote{
    color: #444;
    font-style: italic;
}

blockquote::before, blockquote::after {
    color: #000;
    font-size: 3em;
}

blockquote::before {
    content: '\201c';
}

blockquote::after {
    content: '\201d';
}