.status {
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px;
  }

  .failed {
    background-color: #BD2C00;
  }

  .shipped {
    background-color: #6CC644;
  }

  .processing {
    background-color: #FC9800;
  }

  .status {
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    /*tag para sombreamento em texto*/
  }

  p{
      text-align: center;
      color: red;
      background-color:  black;
      border: black solid 1px
  }
  